[Unit]
Description=Run Jualan Backup Daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=jualan-backup.service

[Install]
WantedBy=timers.target
